@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="post">

    <div class="form-group">
        <label asp-for="Command" class="control-label"></label>
        <input asp-for="Command" class="form-control" />
    </div>
    <p>
        @Html.DisplayFor(model => model.Output)
    </p>
</form>